$main-color: rgb(65, 141, 141);

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $main-color;
    width: 100%;
    text-align: center;
    padding: 15px;
    h1 {
        color: #fff;
    }
}

.container {
    max-width: 1200px;
    margin: 30px auto;
}

.search {
    border-bottom: 1px solid gray;
    padding-bottom: 25px;
}

.form-control {
    max-width: 200px;
}

.card {
    margin-top: 25px;
}

a:hover {
    text-decoration: none;
    color: $main-color;
}

a {
    color: #000;
}

.title {
    color: gray;
    font-size: 14px;
}

div.info h3 {
    margin-left: 30px;
    margin-bottom: 40px;
    font-size: 18px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

table, td, th {
    border: 1px solid black;
}

table {
    margin: 20px 15px;
    width: 100%;
    th {
        background-color: rgb(179, 178, 178);
        padding: 5px;
    }
    tr:nth-child(2n+3) {
        background-color: rgb(235, 230, 230);
    }
    td {
        padding: 5px;
        span {
            padding: 5px 10px;
        }
    }
    tr td:last-child {
        width: 50px;
    }
    a:focus {
        outline: none;
    }
}

.modal-title {
    display: inline-block;
}